<form class="container" [formGroup]="form">
    <div>
        <app-ua-map></app-ua-map>
    </div>

    <div class="form-container">
        <div class="form-field">
            <mat-form-field>
                <mat-label>Installed peak PV power</mat-label>
                <span matSuffix>&nbsp; kW</span>
                <input type="number" matInput placeholder="Type power here" formControlName="power">

                <mat-error *ngIf="isFieldHasError('power', 'required')">
                    This field is required
                </mat-error>

                <mat-error *ngIf="isFieldHasError('power', 'min')">
                    Value should be at least {{getFieldErrors('power')?.min?.min}} kW
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Installed panels type</mat-label>
                <mat-select formControlName="panelsType">
                    <mat-option *ngFor="let type of panelTypeOptions"
                                [value]="type.value">
                        {{type.name}}
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="isFieldHasError('costs', 'required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field>
                <mat-label>Inverter efficiency</mat-label>
                <span matSuffix>&nbsp; %</span>
                <input type="number" matInput placeholder="Type efficiency here" [min]="1" [max]="100" formControlName="efficiency">

                <mat-error *ngIf="isFieldHasError('efficiency', 'required')">
                    This field is required
                </mat-error>
                <mat-error *ngIf="isFieldHasError('efficiency', 'min')">
                    Value can't be less than {{getFieldErrors('efficiency')?.min?.min}} %
                </mat-error>
                <mat-error *ngIf="isFieldHasError('efficiency', 'max')">
                    Value can't be more than {{getFieldErrors('efficiency')?.max?.max}} %
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field>
                <mat-label>Total costs</mat-label>
                <span matSuffix>&nbsp; $</span>
                <input type="number" matInput placeholder="Type costs here" formControlName="costs">

                <mat-error *ngIf="isFieldHasError('costs', 'required')">
                    This field is required
                </mat-error>
                <mat-error *ngIf="isFieldHasError('costs', 'min')">
                    Value can't be less than {{getFieldErrors('costs')?.min?.min}} $
                </mat-error>
            </mat-form-field>
        </div>

    </div>
    <button mat-raised-button color="primary" type="submit" class="">Calculate</button>
</form>



