<header class="header">
    <div class="logo-container"><img src="../../../../assets/img/solar-energy.svg" alt="logo"></div>
    <nav class="nav-menu">
        <a class="nav-menu-item" [routerLink]="routes.home.fullPath" routerLinkActive="active-link">Home</a>
        <a class="nav-menu-item" [routerLink]="routes.calculator.fullPath" routerLinkActive="active-link">Calculator</a>
        <a class="nav-menu-item" [routerLink]="routes.aboutUs.fullPath" routerLinkActive="active-link">Contact Us</a>
    </nav>
</header>
